@font-face {
    font-family: "digitaldream";
    src: url(./fonts/DIGITALDREAMFAT.ttf);
}


* {
    background-color: #606470;
    font-family: digitaldream;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    background-color: #222831;
    border: 3px solid black;
    width: 300px;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    
}

.solar-panel {
    display: flex;
    flex-direction: row;
    background-color: #393e46;
    width: fit-content;
    justify-content: end;
    margin-left: auto;
    border-radius: 5px;
}

.panel {
    background-color: #606470;
    width: 50px;
    height: 50px;
    border-right: 1px solid black;
    border-radius: 5px;
}

.number-display {
    display: flex;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #d3d6db;
    border-radius: 10px;
    justify-content: end;
    align-items: center;
    font-family: digitaldream;
    
}

.button-section {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 450px;
    background-color: #222831;
   
}

.button {
    border-radius: 10px;
    background-color: aliceblue;
}

.function-button {
    background-color: lightcoral;
}

.selected {
    background-color: yellow;
}

#clear {
    background-color: orange;
}



button{
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0; 
   
}

    button:hover{
        background:linear-gradient(35deg, white, blue);
        background-position: 0 0;
       
    }
